.width5 {
	width: 5%;
}

.width10 {
	width: 10%;
}

.width15 {
	width: 15%;
}

.width18 {
	width: 18%;
}

.width19 {
	width: 19%;
}

.width20 {
	width: 20%;
}

.width24 {
	width: 24%;
}

.width25 {
	width: 25%;
}

.width28 {
	width: 28%;
}

.width30 {
	width: 30%;
}

.width33 {
	width: 33%;
}

.width40 {
	width: 40%;
}

.width42 {
	width: 42%;
}

.width45 {
	width: 45%;
}

.width48 {
	width: 48%;
}

.width50 {
	width: 50%;
}

.width55 {
	width: 55%;
}

.width60 {
	width: 60%;
}

.width65 {
	width: 65%;
}

.width70 {
	width: 70%;
}

.width75 {
	width: 75%;
}

.width80 {
	width: 80%;
}

.width85 {
	width: 85%;
}

.width90 {
	width: 90%;
}

.width95 {
	width: 95%;
}

.width100 {
	width: 100%;
}

.width100vw {
	width: 100vw;
}

.height10 {
	height: 10%;
}

.height30 {
	height: 30%;
}

.height32 {
	height: 32%;
}

.height33 {
	height: 33%;
}

.width35 {
	width: 35%;
}

.height40 {
	height: 40%;
}

.height46 {
	height: 46%;
}

.height50 {
	height: 50%;
}

.height60 {
	height: 60%;
}

.height64 {
	height: 64%;
}

.height66 {
	height: 66%;
}

.height70 {
	height: 70%;
}

.height80 {
	height: 80%;
}

.height90 {
	height: 90%;
}

.height95 {
	height: 95%;
}

.height100 {
	height: 100%;
}

.height100vh {
	height: 100vh;
}

.minHeight100vh {
	min-height: 100vh;
}

.d_flex {
	display: flex;
}

.align_items_c {
	align-items: center;
}

.flex_flow_c {
	flex-flow: column;
}

.flex_warp {
	flex-wrap: wrap;
}

.justify_content_sb {
	justify-content: space-between;
}

.justify_content_sa {
	justify-content: space-around;
}

.justify_content_center {
	justify-content: center;
}

.bsbb {
	box-sizing: border-box;
}

.font10 {
	font-size: 20rpx;
}

.font12 {
	font-size: 24rpx;
}

.font13 {
	font-size: 26rpx;
}

.font14 {
	font-size: 28rpx;
}

.font15 {
	font-size: 30rpx;
}

.font16 {
	font-size: 32rpx;
}

.font18 {
	font-size: 36rpx;
}

.font20 {
	font-size: 40rpx;
}

.font22 {
	font-size: 44rpx;
}

.font24 {
	font-size: 48rpx;
}

.font28 {
	font-size: 56rpx;
}

.font30 {
	font-size: 60rpx;
}

.font32 {
	font-size: 64rpx;
}

.font36 {
	font-size: 72rpx;
}

.font50 {
	font-size: 100rpx;
}

.fwb {
	font-weight: bolder;
}

.whiteColor {
	color: #ffffff;
}

.blackColor {
	color: #000000;
}

.lightBlackColor {
	color: #666666;
}

.greenColor {
	color: #259D5D;
}

.orangeColor {
	color: #FFA813;
}

.blueColor {
	color: #2979ff;
}

.redColor {
	color: #FF4A4A;
}

.whiteBg {
	background: #ffffff;
}

.blackBg {
	background: #000000;
}

.lightBlackBg {
	background: #666666;
}

.greenBg {
	background-color: #259D5D;
}

.orangeBg {
	background-color: #FFA813;
}

.border_r5 {
	border-radius: 10rpx;
}

.border_r10 {
	border-radius: 20rpx;
}

.border_r20 {
	border-radius: 40rpx;
}

.border_white {
	border: 2rpx solid #ffffff;
	box-sizing: border-box;
}

.border_black {
	border: 2rpx solid #000000;
	box-sizing: border-box;
}

.border_eee {
	border: 2rpx solid #eeeeee;
	box-sizing: border-box;
}

.box_shadow_grey {
	box-shadow: 0 0 14rpx 0 rgba(0, 0, 0, 0.12);
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.tl {
	text-align: left;
}

.marginL5 {
	margin-left: 10rpx;
}

.marginL10 {
	margin-left: 20rpx;
}

.marginL12 {
	margin-left: 24rpx;
}

.marginL15 {
	margin-left: 30rpx;
}

.marginL20 {
	margin-left: 40rpx;
}

.marginR5 {
	margin-right: 10rpx;
}

.marginR10 {
	margin-right: 20rpx;
}

.marginR12 {
	margin-right: 24rpx;
}

.marginR20 {
	margin-right: 40rpx;
}

.marginT4 {
	margin-top: 8rpx;
}

.marginT5 {
	margin-top: 10rpx;
}

.marginT6 {
	margin-top: 12rpx;
}

.marginT8 {
	margin-top: 16rpx;
}

.marginT10 {
	margin-top: 20rpx;
}

.marginT12 {
	margin-top: 24rpx;
}

.marginT15 {
	margin-top: 30rpx;
}

.marginT20 {
	margin-top: 40rpx;
}

.marginT25 {
	margin-top: 50rpx;
}

.marginT40 {
	margin-top: 80rpx;
}

.marginB5 {
	margin-bottom: 10rpx;
}

.marginB6 {
	margin-bottom: 12rpx;
}

.marginB10 {
	margin-bottom: 20rpx;
}

.marginB12 {
	margin-bottom: 24rpx;
}

.marginB20 {
	margin-bottom: 40rpx;
}

.marginLR10 {
	margin: 0 20rpx;
}

.margin10 {
	margin: 20rpx;
}

.padding5 {
	padding: 10rpx;
}

.padding6 {
	padding: 12rpx;
}

.padding10 {
	padding: 20rpx;
}

.padding12 {
	padding: 24rpx;
}

.padding15 {
	padding: 30rpx;
}

.padding20 {
	padding: 40rpx;
}

.paddingB10 {
	padding-bottom: 20rpx;
}

.paddingB20 {
	padding-bottom: 40rpx;
}

.paddingL10 {
	padding-left: 20rpx;
}

.paddingL20 {
	padding-left: 40rpx;
}

.paddingT5 {
	padding-top: 10rpx;
}

.paddingT10 {
	padding-top: 20rpx;
}

.paddingT15 {
	padding-top: 30rpx;
}

.paddingT20 {
	padding-top: 40rpx;
}

.paddingTB5 {
	padding: 10rpx 0;
}

.paddingTB10 {
	padding: 20rpx 0;
}

.paddingTB15 {
	padding: 30rpx 0;
}

.paddingTB20 {
	padding: 40rpx 0;
}

.paddingTB25 {
	padding: 50rpx 0;
}

.paddingLR5 {
	padding: 0 10rpx;
}

.paddingLR10 {
	padding: 0 20rpx;
}

.paddingLR15 {
	padding: 0 30rpx;
}

.paddingLR20 {
	padding: 0 40rpx;
}

.paddingLR5TB10 {
	padding: 20rpx 10rpx;
}

.paddingLR10TB5 {
	padding: 10rpx 20rpx;
}

.paddingLR20TB5 {
	padding: 10rpx 40rpx;
}

.paddingLR10TB15 {
	padding: 30rpx 20rpx;
}

.paddingLR15TB5 {
	padding: 10rpx 30rpx;
}

.paddingLR15TB10 {
	padding: 20rpx 30rpx;
}

.paddingLR20TB10 {
	padding: 20rpx 40rpx;
}

.paddingTLR10 {
	padding: 20rpx 20rpx 0;
}

.paddingTLR15 {
	padding: 30rpx 30rpx 0;
}

.position_r {
	position: relative;
}

.position_a {
	position: absolute;
}

.position_fixed {
	position: fixed;
	top: 0;
	left: 0;
}

.cp {
	cursor: pointer;
}

.pa_center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text_ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text_ellipsis2 {
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	line-clamp: 2;
	-webkit-box-orient: vertical;
}

.line_through {
	text-decoration: line-through;
}

.tdu {
	text-decoration: underline;
}

.white_space_nowarp {
	white-space: nowrap;
}

.word_warp {
	word-wrap: break-word;
}

.bottomSafe {
	padding-bottom: constant(safe-area-inset-bottom);
	/* 兼容 iOS < 11.2 */
	padding-bottom: env(safe-area-inset-bottom);
	/* 兼容 iOS >= 11.2 */
	box-sizing: border-box;
}
